<section class="registration-section">
        <h1>Sign Up</h1>
      <div class="registration-form-container">
        <%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
          <%= devise_error_messages! %>
          <div class="row">
            <div class="col span-1-of-3">
              <div class="form-group">
                <%= f.label :first_name, class: "input-label" %> <em> (Required) </em>
                <%= f.text_field :first_name, class: "input-field"%>
              </div>

              <div class="form-group">
                <%= f.label :last_name, class: "input-label" %> <em> (Required) </em>
                <%= f.text_field :last_name, class: "input-field" %>
              </div>

              <div class="form-group">
                <%= f.label :email, class: "input-label" %> <em> (Required) </em>
                <%= f.email_field :email, autofocus: true, class: "input-field" %>
              </div>
              
              <div class="form-group">
                <%= f.label :password, class: "input-label" %> 
                <% if @minimum_password_length %>
                  <em>(<%= @minimum_password_length %> characters minimum)</em>
                <% end %><br />
                <%= f.password_field :password, autocomplete: "off", class: "input-field" %>
              </div>

              <div class="form-group">
                <%= f.label :password_confirmation, class: "input-label" %>
                <%= f.password_field :password_confirmation, autocomplete: "off", class: "input-field" %>
              </div>

            </div>
            
            <div class="col span-2-of-3">
              <div class="form-group">
                <%= f.label :shop_name, class: "input-label" %> <em> (Required) </em>
                <%= f.text_field :shop_name, class: "input-field" %>
              </div>

              <div class="form-group">
                <%= f.label :website, class: "input-label" %> <em>(Optional)</em>
                <%= f.text_field :website, class: "input-field" %>
              </div>

              <div class="form-group">
                <%= f.label :shop_description, class: "input-label" %> <em>(Optional)</em>
                <%= f.text_area :shop_description, class: "input-field", size: "20x4" %>
              </div>

              <div class="form-group">
                <%= f.submit "Sign up", class: "btn-submit", id: "btn-signup" %>
              </div>

            </div>
          </div>
        <% end %>
      </div>
</section>