<section class="show-user">
	<div class="row">
		<div class="col span-1-of-3">
			<%if signed_in? %>
				<i><%= link_to "", edit_seller_path(@user), class: "fa fa-pencil" if @user.id == current_user.id || User.admin_types.include?(current_user.type)%></i>
				<i><%= link_to "", ban_seller_path(@user), id: "user_#{@user.id}_ban", class: "fa fa-ban" if User.admin_types.include?(current_user.type) && !@user.ban %></i>
				<i><%= link_to "", unban_seller_path(@user), id: "user_#{@user.id}_unban", class: "fa fa-check" if User.admin_types.include?(current_user.type) && @user.ban %></i>
			<% end %>
			<div class="image-container">
				<%= image_tag(@user.image, size: "250x250", alt: "user_image" ) %>
			</div>
		</div>

		<div class="col span-2-of-3">
			<div class="user-information">
				<span class="full-name-shop"> <%= @user.shop_name %></span> 				
					<span class="products-user">
						<%= link_to '<i class="fa fa-shopping-cart"></i> Products'.html_safe, seller_products_path(@user) %>
					</span><br>
				<hr />
				<span class="name-of-user">Seller Name: <%= @user.full_name %></span><br>
				<span class="email-of-user">Email: <%= @user.email %></span><br>
				<span class="products-of-user">Number of products to sell: <%= @user.products.count %></span><br>
				<span class="categories-of-user">Browse by category: </span> 
					<% if @user.category.any? %>
						<% @user.category_no_repeated.each do |category| %>
							<span class="category-name", style="background-color:<%= category[2] %>;">
								<%=link_to category[1], category_path(category[0]) %>
								
							</span>
						<% end %>
					<% end %>
				<br>
				<% if @user.website? %>	
					<span class="website-of-user">Website: <%= link_to @user.website, format_url(@user.website),target: :_blank%></span>
				<% end %>
				<div>
					<span class="shop-of-user">Shop description: </span>
					<br>
					<%= @user.shop_description %>	
				</div>
			</div>
		</div>
	</div>
</section>