<section class="show-user">
	<div class="row">
		<div class="col span-1-of-3">
			<div class="image-container">
				<%= image_tag(@user.image, size: "250x250", alt: "user_image" ) %>
			</div>
		</div>

		<div class="col span-2-of-3">
			<div class="user-information">
				<span class="hi-box">Hi</span> 
				<span class="im-user">I'm</span>
				<span class="full-name-user"> <%= @user.full_name %></span> <br>
				<span class="type-of-user"><%= @user.type %> User Of The Market!</span>
				<% if signed_in? && (User.admin_types.include?(current_user.type) || current_user.id == @user.id) %>
					<div class="user-actions-show">
						<%= link_to "Edit User", edit_seller_path(@user), class: "btn-actions", id: "edit_#{@user.full_name}_seller"%>
					</div>
				<% end %>
				<hr />
				<span class="email-of-user">Email: <%= @user.email %></span><br>
				<span class="phone-of-user">Phone: <%= @user.phone %></span><br>
				<span class="products-of-user">Number of products to sell: <%= @user.products.count %></span><br>
				<div class="products-user">
					<%= link_to "Products to sell", user_products_path(@user), class: "btn-actions" %>
					<%= link_to "Categories present", "", class: "btn-actions" %>
				</div>
			</div>
		</div>
	</div>
</section>