<header>
	<div class="text-box">
		<h1>Sunday Market!</h1>
		<%= link_to "More Information", "", class: "btn btn-full js--scroll-to-sunday" %>
		<%= link_to "Testimonies", "", class: "btn btn-ghost js--scroll-to--testimonies"  %>
	</div>
</header>

<section class="section-about-market">
	<div class="container">
		<div class="row">
			<div class="col span-3-of-3">
				<h1>What is the Sunday Market!?</h1>
				<p>
					The Sunday Market allows you to get a sneak peak at what is going to be available in your local market. Here you can view the list of fantastic <%= link_to "shops", sellers_path %>, browse their latest <%= link_to "products", products_path %>, or see what <%= link_to "categories", categories_path %> are available at your local market.
				</p>

				<p>
					Will you be selling at the market? <%= link_to "Sign up", new_user_registration_path %> now to show off your products ahead of the big day. 
				</p>
			</div>
		</div>
	</div>
</section>


<section class="section-market-images">
	<%= link_to "View All Categories", categories_path, class: "btn-categories" %>
		<ul class="market-showcase clearfix">
			<% @categories.each do |category| %>
				<div class="categories-homepage">
					<li> 
						<figure class="category-photo">
							<%= link_to image_tag(category.cat_image, size: "210x210", class: "home-cat-img-style"), category_path(category)%>
						</figure> 
					</li>
				</div>
			<% end %>
		</ul>
</section>


<section class="section-what-i-need">
	<div class="row">
		<h1>List your shop in three easy steps...</h1>
	</div>
	<div class="row">
		<div class="col span-2-of-3 steps-box">
			<%= image_tag("computer_section.png", class: "computer-screen")%>
		</div>

		<div class="col span-1-of-3 steps-box">
			<div class="works-step">
				<div>1</div>
				<p>Register</p>
			</div>

			<div class="works-step">
				<div>2</div>
				<p>List your products on the site</p>
			</div>

			<div class="works-step">
				<div>3</div>
				<p>Come to the market to sell your products.</p>
			</div>
		</div>
	</div>
</section>

<section class="section-testimonies">
	<div class="row">
		<h1>Testimonials</h1>
	</div>

	<div class="row">
		<div class="col span-1-of-3">
			<blockquote>
				 I listed my shop last year for the Sunday Market held in London and had many customers say they only came because they saw pictures of my amazing cakes.
			</blockquote>
			<cite>
				<%= image_tag("profile_picture.jpg")%>(Sally Johnson).
			</cite>
		</div>
		<div class="col span-1-of-3">
			<blockquote>
				 It’s great to see the range of products that are available at the market. I was looking for new ink for my printer and was able to ask the seller if it would fit my printer!
			</blockquote>
			<cite>
				<%= image_tag("profile_picture.jpg")%>(Carl Smith).
			</cite>
		</div>
		<div class="col span-1-of-3">
			<blockquote>
				A customer found out about my site through Sunday Market and I landed the biggest sale of the month! Everyone should be on here!&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
			</blockquote>
			<cite>
				<%= image_tag("profile_picture.jpg")%>(Julie Jones).
			</cite>
		</div>
	</div>
</section>

<section class="section-locations">
	<h1> Currently Locations </h1>
	<div class="row">
		<div class="col span-1-of-3">
			<div class="location">
				<%= image_tag("rio.jpg", size: "300x200")%>
				<div class="info-location">
					Brazil <span>(Rio de janeiro).</span><br>
					<i class="fa fa-shopping-cart"></i>2k buyers by day.<br>
					<i class="fa fa-users"></i>150+ sellers.
				</div>
			</div>
		</div>

		<div class="col span-1-of-3">
			<div class="location">
				<%= image_tag("london.jpg", size: "300x200")%>
				<div class="info-location">
					England <span>(London).</span><br>
					<i class="fa fa-shopping-cart"></i>2k buyers by day.<br>
					<i class="fa fa-users"></i>150+ sellers.
				</div>
			</div>
		</div>

		<div class="col span-1-of-3">
			<div class="location">
				<%= image_tag("tijuana.jpg", size: "300x200") %>
				<div class="info-location">
					Mexico <span>(Tijuana).</span><br>
					<i class="fa fa-shopping-cart"></i>2k buyers by day.<br>
					<i class="fa fa-users"></i>150+ sellers.
				</div>
			</div>
		</div>
	</div>
</section>