<header>
	<div class="text-box">
		<h1>Sunday Market!</h1>
		<%= link_to "More Information", "", class: "btn btn-full js--scroll-to-sunday" %>
		<%= link_to "Testimonies", "", class: "btn btn-ghost js--scroll-to--testimonies"  %>
	</div>
</header>

<section class="section-about-market">
	<div class="container">
		<div class="row">
			<div class="col span-3-of-3">
				<h1>What Is Sunday Market!?</h1>
				<span>
					Sunday market is a place when you can...............Sunday market is a place when you can...............Sunday market is a place when you can...............Sunday market is a place when you can...............Sunday market is a place when you can...............Sunday market is a place when you can...............Sunday market is a place when you can...............Sunday market is a place when you can...............Sunday market is a place when you can...............Sunday market is a place when you can...............Sunday market is a place when you can...............Sunday market is a place when you can...............Sunday market is a place when you can...............Sunday market is a place when you can...............Sunday market is a place when you can...............Sunday market is a place when you can...............Sunday market is a place when you can...............Sunday market is a place when you can...............Sunday market is a place when you can...............Sunday market is a place when you can...............Sunday market is a place when you can...............Sunday market is a place when you can...............Sunday market is a place when you can...............Sunday market is a place when you can...............Sunday market is a place when you can...............Sunday market is a place when you can...............
				</span>
			</div>
		</div>
	</div>
</section>

<section class="section-market-images">
	<h1>Available Categories</h1>
	<div class="row">
		<% @categories.each do |category| %>
			<div class="col span-1-of-3">
				<span class="category-text-image"><%= category.name %></span>
				<%= link_to image_tag(category.cat_image, size: "350x300"), category_path(category) %>
			</div>
		<% end %>
	</div>
</section>


<section class="section-what-i-need">
	<h1>Just 3 Steps To Become A Seller</h1>
	<div class="row">
		<div class="col span-2-of-3">
			<%= image_tag("computer_section.png")%>
		</div>

		<div class="col span-1-of-3">
			<div class="works-step">
				<div>1</div>
				<p>Register in the app.</p>
			</div>

			<div class="works-step">
				<div>2</div>
				<p>Create products to be showed in the market.</p>
			</div>

			<div class="works-step">
				<div>3</div>
				<p>Come to the market to sell your products.</p>
			</div>
		</div>
	</div>
</section>

<section class="section-testimonies">
	<div class="row">
		<h1>SOME TESTIMONIES WHEB THE PEOPLE VISIT THE SUNDAY MARKET!</h1>
	</div>

	<div class="row">
		<div class="col span-1-of-3">
			<blockquote>
				 Lorem ipsum dolor sit amet, consectetur adipisicing elit. Eum atque facere, numquam, a nam ratione id nemo quos distinctio dicta animi amet perspiciatis aspernatur doloribus optio. Cupiditate quas maxime, mollitia.
			</blockquote>
			<cite>
				<%= image_tag("profile_picture.jpg")%>(User	Name)
			</cite>
		</div>
		<div class="col span-1-of-3">
			<blockquote>
				 Lorem ipsum dolor sit amet, consectetur adipisicing elit. Eum atque facere, numquam, a nam ratione id nemo quos distinctio dicta animi amet perspiciatis aspernatur doloribus optio. Cupiditate quas maxime, mollitia.
			</blockquote>
			<cite>
				<%= image_tag("profile_picture.jpg")%>(User	Name)
			</cite>
		</div>
		<div class="col span-1-of-3">
			<blockquote>
				 Lorem ipsum dolor sit amet, consectetur adipisicing elit. Eum atque facere, numquam, a nam ratione id nemo quos distinctio dicta animi amet perspiciatis aspernatur doloribus optio. Cupiditate quas maxime, mollitia.
			</blockquote>
			<cite>
				<%= image_tag("profile_picture.jpg")%>(User	Name)
			</cite>
		</div>
	</div>
</section>

<section class="section-locations">
	<h1> Currently Locations </h1>
	<div class="row">
		<div class="col span-1-of-3">
			<div class="location">
				<%= image_tag("rio.jpg", size: "300x200")%>
				<div class="info-location">
					Brazil <span>(Rio de janeiro).</span><br>
					<i class="fa fa-shopping-cart"></i>2k buyers by day.<br>
					<i class="fa fa-users"></i>150+ sellers.
				</div>
			</div>
		</div>

		<div class="col span-1-of-3">
			<div class="location">
				<%= image_tag("london.jpg", size: "300x200")%>
				<div class="info-location">
					England <span>(London).</span><br>
					<i class="fa fa-shopping-cart"></i>2k buyers by day.<br>
					<i class="fa fa-users"></i>150+ sellers.
				</div>
			</div>
		</div>

		<div class="col span-1-of-3">
			<div class="location">
				<%= image_tag("tijuana.jpg", size: "300x200") %>
				<div class="info-location">
					Mexico <span>(Tijuana).</span><br>
					<i class="fa fa-shopping-cart"></i>2k buyers by day.<br>
					<i class="fa fa-users"></i>150+ sellers.
				</div>
			</div>
		</div>
	</div>
</section>