<section class="index-categories">
  <h1>Explore By Category</h1>
  <% @categories.each do |category| %>
    <div class="row">
      <div class="col span-1-of-3">
        <div class="user-info-category">
          <%= image_tag(category.cat_image, size: "100x200", class: "category-image-index")%>
          <br>
          <span class="full-name-category-index"><%= link_to category.name, category_path(category) %></span><br>
          <span class="category-products">This category have <%= pluralize(category.products.count, "product")%>.</span><br><br>
          <% if signed_in? %>
            <%= link_to "Edit Category", edit_category_path(category), class: "btn-actions-category" if User.admin_types.include?(current_user.type) %>
          <% end %>
        </div>
      </div>
    </div>
  <% end %>
</section>
<%= will_paginate @categories %>