<section class="section-category-show">
  <h1><%= @category.name.titleize %></h1>
  <h5><%= pluralize(@products.count, "product") %> in this category.</h5>
  <% if @products.any? %>
    <% @products.each do |product| %>
      <div class="row">
        <div class="col span-1-of-3">
          <div class="product-info-index">
            <% if signed_in? %>
              <% if admin_type_user? || current_user_object(product.user_id) %>
                <%= link_to "", edit_product_path(product), class: "fa fa-pencil"  %> 
                <%= link_to "", product_path(product), class: "fa fa-trash-o", method: :delete,
                                                      data: { confirm: "Are you sure you want to delete this product?" }  %>
              <% end %>
            <% end %> 
             <%= link_to image_tag(product.image, size: "350x300"), product_path(product), class: "product-show-view" %><br>
              <span class="product-name-category"><%= link_to product.name.titleize, product_path(product) %></span><br><br>
              <hr class="hr-clear">
              <span class="product-summary"><%= truncate(product.summary, length: 100) %></span>
              <hr class="hr-clear">
              <span class="product-price">Price: $<%= product.price %></span><br>
              <span class="product-seller">Sold by: <%= link_to product.user.full_name,seller_path(product.user) %></span> <br><br>
          </div>
        </div>
  <% end %>
  <% else %>
    <section class="not-show">
      <h1>Sorry But The Category <%= @category.name %> Has Not Products.</h1>
      <%= link_to "Back", :back, class: "btn-submit" %>
    </section>
  <% end %>
</section>
<section >
  <%= will_paginate @products %>
</section>