<center>
<h1> <%= @category.name %></h1>
</center>

<% if @category.products.any? %>
<div class="wellc">
  <i>  <%= @category.products.count %> products found in <%= @category.name.capitalize %> </i><br><br>
      
      <% @category.products.each do |p| %>
        <div class="wrapper">
        <div class="box a">
          <% if p.image? %>
          <%= link_to(image_tag(p.image), product_path(p)) %>
          <% else %>
          <%= link_to(image_tag("http://www.thecellartrust.org/wp-content/uploads/2016/04/Product-Image-Coming-Soon.png"), product_path(p)) %>
          <% end %>
          </div>
  
        <div class="box b">  <h3><%= p.name.capitalize %> </h3><br>
        <p><b>Product summary:</b> <%= p.summary %> <br></p>
        <% if p.description.any? %> <br>
        <b>List from the description array:</b>
          <ul>
            <% p.description.each do |desc| %> 
                <li><%= desc %></li>
            <% end %>
          </ul>

        <% end %> <br>
        <b>Sold by: </b><%= p.user.first_name %>  <%= p.user.last_name %> <br> <%= p.user.phone %>  |  <%= p.user.email %>  <br>
</div>
        
        <div class="box c"><p><%= link_to "More from this seller", user_path(p), class: "cat-btn-file" %></p></div>
        <div class="box d"><b><p>Price: £</b> <%= p.price %></div></p>
        <div class="box e">
        <% if User.admin_types.include?(current_user.try(:type)) %>
        <%= link_to "Edit Product", edit_product_path(p), class: "cat-btn-file"  %> / <%= link_to "Delete", product_path(p), class: "cat-btn-file", method: :delete,
              data: { confirm: "Are you sure you want to delete this product?" }  %></p></div>
        <% end %>
        </div>
        <br>
     <% end %>
  <% else %>
    <h4 align="center"> There are no products in the <%= @category.name.capitalize %> category yet! </h4>
  <% end %>
  </div>
</div>
