<section class="section-category-show">
  <h1><%= @category.name.titleize %></h1>
  <h5><%= pluralize(@category.products.count, "product") %> in this category.</h5>
  
  <% if @category.products.any? %>
    <% @category.products.each do |product| %>
      <div class="row">
        <div class="col span-1-of-3">
          <div class="category-info-show">
            <%= link_to image_tag(product.image, size: "330x300"), product_path(product), class: "product-show-view" %>
            <br>
            <span class="product-name-category"><%= link_to product.name.titleize, product_path(product) %></span>
            <br>
            <span class="product-summary"><%= product.summary %></span>
            <% product.descriptions.each do |description| %>
              <ul class="product-description">
                <li><%= description.name %></li>
              </ul>
            <% end %>
            
            

            
            
            <span class="product-category-description"><%= product.price %></span>
            <br>
            <span class="product-seller">Sold by: <%= link_to product.user.full_name, seller_path(product.user) %></span>
            <br><br>
            <div class="product-actions">
            <% if signed_in? %>
              <% if admin_type_user? || current_user_object(product.user_id) %>
                <%= link_to "Edit Product", edit_product_path(product), class: "btn-submit"  %> 
                <%= link_to "Delete", product_path(product), class: "btn-submit", method: :delete,
                  data: { confirm: "Are you sure you want to delete this product?" }  %>
              <% end %>
            <% end %> 
            </div>
          </div>
        </div>
      </div>
    <% end %>
    <% else %>
    <section class="not-show">
      <h1>Sorry But The Category <%= @category.name %> Has Not Products.</h1>
      <%= link_to "Back", :back, class: "btn-submit" %>
    </section>
  <% end %>
</section>