<section class="section-product-show">
	<div class="row">
		<div class="col span-1-of-3">
			<%= image_tag(@product.image, size: "350x350") %>
		</div>

		<div class="col span-2-of-3 show-product-information-user">
			<h1><%= @product.name.titleize %></h1>
			<div class="product-summary"><%= @product.summary %></div>
			<div class="product-description-user">Item Information</div>
			<ul>
				<% @product.descriptions.each do |description| %>
					<li><%= description.name %></li>
				<% end %>
			</ul>
			<br>
			<div class="product-sold-by">
				Solb by: <%= link_to image_tag(@product.user.image, size: "40x40"), seller_path(@product.user) %>	
			</div>
		</div>
	</div>
</section>